.App {
  font-family: sans-serif;
  text-align: center;
}
.divone {
  background-color: aqua;
}
.divtwo {
  background-color: bisque;
}
.divthree {
  background-color: purple;
}
.divfour {
  background-color: greenyellow;
}
